<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand"  [routerLink]="['']">Nadim's Page</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
     
      <a class="nav-item nav-link" [routerLink]="['about']">About</a>
    <!-- <a class="nav-item nav-link" href="#">Resume</a>
    -->
      <!-- <a class="nav-item nav-link" [routerLink]="['about']">New component</a> -->
      <a class="nav-item nav-link"  [routerLink]="['contact']" >Contact</a>
    </div>
  </div>
  
  

</nav>